/* .monster-container svg {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.monster-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30vh;
} */



img {
  max-width: 100%;
  height: auto;
}

.monsterimg {
  width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}