.button {
  padding: 20px;
  margin-top: 50px;

  background: transparent;
  border: white 5px solid;
  color: white;

  transition: ease-out 0.1s;
}

.button:hover {
  background: white;
  color: black;
}
